<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.info121.ioperation"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- <uses-sdk -->
    <!-- android:minSdkVersion="8" -->
    <!-- android:targetSdkVersion="18" -->
    <!-- tools:overrideLibrary="com.google.android.gms.measurement,com.google.firebase.firebase_core,com.google.android.gms.tasks" /> -->

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_ASSISTED_GPS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <application
        android:name=".RootApplication"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".signature.CaptureSignatureActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".signature.CaptureSignature"
            android:label="@string/app_name" />
        <activity
            android:name=".iOPLoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".iOPRegisterActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".iOPForgotPasswordActivity"
            android:label="@string/app_name" />
        <!-- <activity -->
        <!-- android:name=".ChooseTaskActivity" -->
        <!-- android:label="@string/app_name" /> -->
        <activity
            android:name=".iOpMainViewPagerActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WelcomeIoperationActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShowClientActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NoShowClientActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".WelcomeIbidingActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.info121.SignaneActivity" />


        <service
            android:name="com.info121.services.FirebaseMessagingService"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name="com.info121.services.FirebaseTokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".util.SurveyActivity"></activity>
    </application>

</manifest>